In [4]:
install.packages("tidyverse")
library(tidyverse)
install.packages("lubridate")
library(lubridate)

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\victo\AppData\Local\Temp\RtmpeSfdj7\downloaded_packages

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
v ggplot2 3.3.2     v purrr   0.3.4
v tibble  3.0.1     v dplyr   1.0.0
v tidyr   1.1.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [74]:
df<-read.csv("Casos_Diarios_Estado_Nacional_Confirmados_20200715.csv")

In [75]:
str(df)

'data.frame':	33 obs. of  189 variables:
 $ cve_ent    : int  1 2 3 4 7 8 9 5 6 10 ...
 $ poblacion  : int  1434635 3634868 804708 1000617 5730367 3801487 9018645 3218720 785153 1868996 ...
 $ nombre     : Factor w/ 33 levels "AGUASCALIENTES",..: 1 2 3 4 5 6 9 7 8 10 ...
 $ X12.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X13.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X14.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X15.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X16.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X17.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X18.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X19.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X20.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X21.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X22.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X23.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X24.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X25.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X26.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X27.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X28.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X29.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X30.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X31.01.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X01.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X02.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X03.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X04.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X05.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X06.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X07.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X08.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X09.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X10.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X11.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X12.02.2020: int  0 1 0 0 0 0 0 0 0 0 ...
 $ X13.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X14.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X15.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X16.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X17.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X18.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X19.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X20.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X21.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X22.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X23.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X24.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X25.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X26.02.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X27.02.2020: int  0 0 0 0 0 0 3 0 0 0 ...
 $ X28.02.2020: int  0 0 0 0 0 0 0 1 0 0 ...
 $ X29.02.2020: int  0 0 0 0 1 0 0 0 0 0 ...
 $ X01.03.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X02.03.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X03.03.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X04.03.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X05.03.2020: int  0 0 0 0 0 0 1 0 0 0 ...
 $ X06.03.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X07.03.2020: int  0 0 0 0 0 0 1 0 0 0 ...
 $ X08.03.2020: int  0 0 0 1 0 0 1 0 0 0 ...
 $ X09.03.2020: int  0 0 0 0 0 0 0 0 0 0 ...
 $ X10.03.2020: int  0 0 0 0 0 0 3 0 0 0 ...
 $ X11.03.2020: int  0 1 0 0 0 0 12 2 0 1 ...
 $ X12.03.2020: int  0 0 0 1 0 0 17 0 0 0 ...
 $ X13.03.2020: int  0 0 0 0 0 1 24 0 0 1 ...
 $ X14.03.2020: int  1 0 0 1 0 1 21 0 1 1 ...
 $ X15.03.2020: int  0 0 0 0 0 0 10 0 0 0 ...
 $ X16.03.2020: int  0 1 0 0 0 0 26 1 1 0 ...
 $ X17.03.2020: int  1 3 0 0 0 0 34 2 0 1 ...
 $ X18.03.2020: int  3 4 1 0 1 1 31 2 0 1 ...
 $ X19.03.2020: int  1 5 0 0 0 1 39 3 0 0 ...
 $ X20.03.2020: int  2 6 1 0 0 3 24 4 0 0 ...
 $ X21.03.2020: int  1 3 1 0 0 1 12 0 0 1 ...
 $ X22.03.2020: int  1 2 0 0 0 1 11 0 0 0 ...
 $ X23.03.2020: int  4 10 4 1 3 0 25 1 0 1 ...
 $ X24.03.2020: int  0 9 2 0 0 1 35 6 1 1 ...
 $ X25.03.2020: int  17 7 0 0 2 2 25 0 0 1 ...
 $ X26.03.2020: int  3 11 2 1 0 2 50 3 0 0 ...
 $ X27.03.2020: int  6 16 4 3 5 2 39 4 0 0 ...
 $ X28.03.2020: int  5 7 4 0 1 2 49 4 0 0 ...
 $ X29.03.2020: int  3 21 1 1 0 5 35 8 0 0 ...
 $ X30.03.2020: int  4 29 13 0 2 3 77 18 1 2 ...
 $ X31.03.2020: int  1 44 7 0 2 5 51 14 1 2 ...
 $ X01.04.2020: int  0 65 5 0 4 7 55 19 2 1 ...
 $ X02.04.2020: int  0 29 11 2 2 6 71 19 0 0 ...
 $ X03.04.2020: int  2 38 16 1 5 5 79 21 0 0 ...
 $ X04.04.2020: int  0 25 5 0 1 9 57 11 0 0 ...
 $ X05.04.2020: int  2 20 5 3 1 12 55 4 0 0 ...
 $ X06.04.2020: int  4 68 23 2 5 11 117 25 0 1 ...
 $ X07.04.2020: int  1 41 24 0 2 7 127 8 0 0 ...
 $ X08.04.2020: int  1 58 24 0 6 10 125 16 0 1 ...
 $ X09.04.2020: int  0 58 22 2 3 8 127 6 0 1 ...
 $ X10.04.2020: int  3 48 9 1 3 12 147 11 0 0 ...
 $ X11.04.2020: int  1 33 7 5 1 13 110 9 1 1 ...
 $ X12.04.2020: int  2 44 5 2 0 9 114 6 2 0 ...
 $ X13.04.2020: int  7 81 14 2 5 18 268 15 0 0 ...
 $ X14.04.2020: int  2 103 17 4 5 13 247 16 0 0 ...
 $ X15.04.2020: int  12 102 5 3 6 20 226 16 1 2 ...
 $ X16.04.2020: int  7 85 9 4 3 26 250 5 2 2 ...
  [list output truncated]

Pasamos la base a _long format_

In [38]:
df_long<-df %>%
    pivot_longer(cols=starts_with("X"),
                 names_to="fecha",
                 values_to="casos")

In [46]:
head(df_long)

  cve_ent poblacion nombre         fecha       casos
1 1       1434635   AGUASCALIENTES X12.01.2020 0
2 1       1434635   AGUASCALIENTES X13.01.2020 0
3 1       1434635   AGUASCALIENTES X14.01.2020 0
4 1       1434635   AGUASCALIENTES X15.01.2020 0
5 1       1434635   AGUASCALIENTES X16.01.2020 0
6 1       1434635   AGUASCALIENTES X17.01.2020 0

Pasamos la columna de fecha a formato de fecha en R

In [64]:
df_long$fecha<- df_long$fecha %>%
                    str_remove("X") %>%
                    dmy()

In [76]:
df_long<-rename(df_long, estado=nombre)

In [77]:
str(df_long)

tibble [6,138 x 5] (S3: tbl_df/tbl/data.frame)
 $ cve_ent  : int [1:6138] 1 1 1 1 1 1 1 1 1 1 ...
 $ poblacion: int [1:6138] 1434635 1434635 1434635 1434635 1434635 1434635 1434635 1434635 1434635 1434635 ...
 $ estado   : Factor w/ 33 levels "AGUASCALIENTES",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ fecha    : Date[1:6138], format: "2020-01-12" "2020-01-13" ...
 $ casos    : int [1:6138] 0 0 0 0 0 0 0 0 0 0 ...

In [67]:
gc<-ggplot(data=df_long)